.cover{
    background-image: url('../img/cover.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    position: relative;
    .__title{
        width: 35%;
        color: white;
        position: absolute;
        top: 35%;
        left: 12%;
        .__span{
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .input-group{
            .form-control{
                transition: none;
                background-color: #f2f3f5;
                border: none;
                &:focus{
                    box-shadow: none;
                    background-color: white;
                    border: 0.5px solid $color-gray-3;
                    border-right: none;
                    & + .input-group-append{
                        .input-group-text{
                            background-color: white;
                            border: 0.5px solid $color-gray-3;

                        }
                    }
                    
                }
                
            }
            .input-group-append{
                .input-group-text{
                    background-color: #f2f3f5;
                    border: none;
                }
            }
        }
    }
}