.header{
    .header__left{
        display: flex;
        align-items: center;
        .logo{
            flex-grow: 1;
            img{
                width: 110px;
            }
        }
        .categories{        
            flex-grow: 1;
        }
        .search{

            flex-grow: 5;
            
            .input-group{
                
                    .form-control{
                        transition: none;
                        background-color: #f2f3f5;
                        border: none;
                        &:focus{
                            box-shadow: none;
                            background-color: white;
                            border: 0.5px solid $color-gray-3;
                            border-right: none;
                            & + .input-group-append{
                                .input-group-text{
                                    background-color: white;
                                    border: 0.5px solid $color-gray-3;
    
                                }
                            }
                            
                        }
                        
                    }
                    .input-group-append{
                        .input-group-text{
                            background-color: #f2f3f5;
                            border: none;
                        }
                    }

                
                
                
            }
            
        }
    }
    .header__right{
        display: flex;
        align-items: center;
        .nav-item{
            .nav-link{
                background-color: white;
                border: none;
            }
        }
        .nav-item:hover{
            background-color: #f2f3f5;
            
            .nav-link{
                background-color: #f2f3f5;
            }

        }
        
        .cart__shopping{
            width: 30px;
            height: 30px;
            display: flex;
            justify-content:center;
            align-items: center;
            text-align: center;
            
        }
        .item{
            position: relative;
            width: 30px;
            height: 30px;
            margin-right: 30px;
            .item__child{
                position: absolute;
                top: 50%;
                left: 50%;
            }
        }
        
    }
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
    
}